@charset "UTF-8";

/* ################################################################################ */
/*                                                                                  */
/* 表題: NPOぱれっとについてページ用CSS                                   　　　　　*/
/* 作成日: 2012-04-13                                                               */
/* 最終更新日: 2012-04-13       　                                                  */
/*                                                                                  */
/* ################################################################################ */

table.outlinetable {
	width:659px;
	margin:0 0 30px 0;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
}

table.outlinetable th,
table.outlinetable td {
	padding:10px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	vertical-align: middle;
}

table.outlinetable th {
	font-weight:bold;
	background:url(../img/shared/backt.jpg) top left repeat;
	line-height:140%;
	white-space:nowrap;
}

table.outlinetable td {
	line-height:140%;
}

h4 {
	background:url(../img/shared/bullet-check.jpg) center left no-repeat;
	font-weight:bold;
	font-size:1.3em;
	margin:0 0 15px 0;
	padding:0 0 0 25px;
}

.accessBox {
	width:680px;
	margin:0 0 0 -20px;
	overflow:hidden;
}

.accessBox .accessBoxInner {
	width:320px;
	padding:0 0 20px 20px;
	float:left;
}

.MainArea .leftArea .mainContent .accessBox .accessBoxInner p {
	margin:0 0 7px 0;
}

.MainArea .leftArea .mainContent .accessBox .accessBoxInner p.accessTitle {
	background:#624120;
	text-align:center;
	font-weight:bold;
	color:#FFFFFF;
	font-size:1.3em;
}

.MainArea .leftArea .mainContent .accessBox .accessBoxInner p.center {
	padding:10px 0 0 0;
}

.mapBox a {
	text-align:center;
	padding:5px 0 0 0;
	font-size:10px;
}

p.rijis {
	width:100%;
	overflow:hidden;
}

p.rijis img {
	float:right;
	padding:0 0 15px 15px;
}

.MainArea .leftArea .mainContent p.rinen {
	margin:0 0 40px 0;
}

.MainArea .leftArea .mainContent p {
	line-height:1.5;
}

.MainArea .leftArea .mainContent p.alignright {
	margin-top:-10px;
	position:relative;
}