@charset "UTF-8";

/* ################################################################################ */
/*                                                                                  */
/* 表題: お問い合わせ用CSS                       　            　　　　　　         */
/* 作成日: 2012-04-13                                                               */
/* 最終更新日: 2012-04-13       　                                                  */
/*                                                                                  */
/* ################################################################################ */

.contact .MainArea .leftArea .mainContent table {
	width:659px;
	margin:0 0 30px 0;
	border-top:1px solid #999999;
	border-left:1px solid #999999;
}

.contact .MainArea .leftArea .mainContent table th,
.contact .MainArea .leftArea .mainContent table td {
	padding:10px;
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
}

.contact .MainArea .leftArea .mainContent table th {
	font-weight:bold;
	background:url(../img/shared/backt.jpg) top left repeat;
	line-height:140%;
	vertical-align:top;
	width:250px;
}

.contact .MainArea .leftArea .mainContent table td {
	line-height:140%;
}

.contact .MainArea .leftArea .mainContent table td.center input {
	cursor:pointer;
}

.red {
	color:#CC3300;
}

.bold {
	color:#CC3300;
	font-weight:bold;
}

.contact .MainArea .leftArea .mainContent .monthBox {
	padding:7px;
	background: #F5F5F5;
	border:1px dotted #CCCCCC;
	margin:0 0 15px 0;
}

.contact .MainArea .leftArea .mainContent .monthBox h3 {
	font-weight:bold;
	font-size:1.2em;
	color:#624120;
	margin:0 0 10px 0;
	padding:0 0 7px 0;
}

.noticebox {
	border:1px solid #CCCCCC;
	height:100px;
	overflow:auto;
	padding:10px;
	margin:0 0 5px 0;
}

.noticebox ol {
	padding:0 0 0 20px;
}

.noticebox ol li {
	margin:0 0 10px 0;
	list-style: decimal outside none;
	line-height:140%;
}

.noticebox ol li ul {
	margin:10px 0 0 0;
	padding:0 0 0 20px;
}

.noticebox ol li ul li {
	list-style:circle;
}