@charset "UTF-8";

/* ################################################################################ */
/*                                                                                  */
/* 表題: リンク用CSS                       　            　　　　　　  　　　　　   */
/* 作成日: 2012-04-13                                                               */
/* 最終更新日: 2012-04-13       　                                                  */
/*                                                                                  */
/* ################################################################################ */

.link .mainContent ul li {
	margin:0 0 15px 0;
	padding:0 0 0 15px;
	background:url(../img/shared/bullet-arrow.png) 0 3px no-repeat;
	line-height:135%;
}

.link .mainContent ul li a img {
	padding:10px 0 0 0;
}

