@charset "utf-8";


div#undercolumn ul.flowlist{
	padding:10px 0px 0px 10px;
}

div#undercolumn ul.flowlist li{
	list-style-type:none;
	padding:5px 0px 5px 0px;
}

div#undercolumn ul.flowlist li.center{
	text-align:center;
}

div#undercolumn p.text{
	padding:10px 10px 10px 10px;
	font-size:100%;
}

div#undercolumn p.text_2{
	padding:0px 10px 0px 10px;
	font-size:100%;
}

div#undercolumn p.text_3{
	padding:0px 10px 10px 35px;
	font-size:100%;
}

div#undercolumn p.center{
	text-align:center;
	padding-top:10px;
}

/* 特典ページ
----------------------------------------*/
div#undercolumn ul.list_point{
	padding:10px 0 0 20px;
	font-size:110%;
	font-weight:bold;
}

div#undercolumn ul.list_point li.one{
	background-image:url(../img/point/one.gif);
	background-repeat:no-repeat;
	background-position:5px 5px;
	list-style-type:none;
	padding:7px 0 5px 40px;
}

div#undercolumn ul.list_point li.two{
	background-image:url(../img/point/two.gif);
	background-repeat:no-repeat;
	background-position:5px 5px;
	list-style-type:none;
	padding:7px 0 5px 40px;
}

div#undercolumn ul.list_point li.three{
	background-image:url(../img/point/three.gif);
	background-repeat:no-repeat;
	background-position:5px 5px;
	list-style-type:none;
	padding:7px 0 5px 40px;
}

div#undercolumn ul.list_point li ul.list_point_2{
	padding:0 0 0 20px;
	font-size:90%;
	font-weight:normal;
}

/* おかし屋ぱれっとページ
----------------------------------------*/
.right{
	float:right;
	padding-left:5px;
	padding-bottom:5px;
}

.left_doughnut{
	float:left;
	padding-right:5px;
	padding-bottom:5px;
}

div#undercolumn p.okashiya{
	padding:10px;
}

div#undercolumn p.okashiya_2{
	padding:10px 0px 10px 0px;
}

div#undercolumn ul.list_okashiya_1{
	padding:10px;
	list-style-type:none;
}

div#undercolumn ul.list_okashiya_1 li{
	padding:5px 0 5px 0;
}

div#undercolumn p.bold{
	font-size:110%;
	font-weight:bold;
	text-align:right;
	padding-right:10px;
}

.red_2{
	font-size:110%;
	font-weight:bold;
	color:#CC0000;
}

.space_doughnut{
	margin-top:20px;
}

/* 製造と工場紹介ページ
----------------------------------------*/
div#undercolumn dl.ops_1{
	padding:10px 0 0 20px;
}

div#undercolumn dl.ops_1 dt{
	padding:10px 0 10px 0;
}

div#undercolumn dl.ops_1 dd.ops_photo_1{
	text-align:center;
	width:164px;
	float:left;
}

div#undercolumn dl.ops_1 dd.ops_photo_2{
	text-align:center;
	width:164px;
	float:left;
}

div#undercolumn dl.ops_1 dd.ops_photo_3{
	text-align:center;
}


/* レストラン・店舗の方へ
----------------------------------------*/
div#undercolumn dl.restaurant_1{
	padding:10px 0 0 10px;
}

div#undercolumn dl.restaurant_1 dt{
	padding:10px 0 10px 0;
}

div#undercolumn dl.restaurant_1 dd.photo_1{
	text-align:center;
	width:199px;
	padding:0 0 10px 10px;
	margin:0;
	float:left;
}

div#undercolumn dl.restaurant_1 dd.text_1{
	text-align:left;
	width:250px;
	padding:0 0 0 10px;
	margin:0;
	float:left;
}

div#undercolumn ul.list_restaurant{
	padding:0 0 0 60px;
}


div#undercolumn ul.list_restaurant li{
	font-size:90%;
	list-style-type: circle;
}

div#undercolumn div.restaurant_tel{
	background-image:url(../img/restaurant/tel.gif);
	background-repeat:no-repeat;
	background-position:10px 0px;
	width:495px;
}

div#undercolumn div.restaurant_tel p{
	padding:40px 0 20px 0;
	text-align:center;
}

div#undercolumn p.restaurant_photo_1{
	text-align:center;
	width:250px;
	float:left;
	padding:10px 0 20px 0;
}

div#undercolumn p.restaurant_photo_2{
	text-align:center;
	width:250px;
	float:left;
	padding:10px 0 20px 0;
}

div#undercolumn p.banner_1{
	padding:10px 0 0 60px;
	float:left;
	text-align:center;
}

div#undercolumn p.banner_2{
	padding:10px 0 0 20px;
	text-align:center;
}

div#undercolumn p.banner_3{
	padding:10px 0 0 100px;
	float:left;
	text-align:center;
}

div#undercolumn p.banner_4{
	padding:10px 0 0 10px;
	text-align:center;
}

div#undercolumn div.restaurant_button{
	background-image:url(../img/restaurant/sub_title.jpg);
	background-repeat:no-repeat;
	height:180px;
}

div#undercolumn div.restaurant_button p.button_left{
	float:left;
	padding:45px 5px 0 150px;
}

div#undercolumn div.restaurant_button p.button_right{
	padding:45px 0 0 0;
}

div#undercolumn div.restaurant_button p.button_left_2{
	float:left;
	padding:10px 5px 0 150px;
}

div#undercolumn div.restaurant_button p.button_right_2{
	padding:10px 0 0 0;
}

div#undercolumn p.top_page_2{
	clear:both;
	text-align:right;
	padding:5px 10px 5px 0;
}